<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Buffs</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">MovieBuffs</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active"><a href="#">Home</a></li>
                    <li class="menu-list-item" id='recommendation'><a href="/recommend">Your Recommendations</a></li>
                </ul>
            </div>
            <div class="container_search">
                <div class="search-box active">
                    <input type="text" class="search-input" placeholder="Search..">

                    <button class="search-button active">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="profile-container">
                <img class="profile-picture" src="/static/nav-profile-pic.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Profile</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="movie-list-container">
                <br>
                <br>
                <h1 class="movie-list-title">Now Playing</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        {% for movie in now_playing %}
                        <a href="#" style="text-decoration:none; color:white">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img"
                                    src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
                                <span class="movie-list-item-title">{{movie.title}}</span>
                                <p class="movie-list-item-desc">{{movie.overview[:240]}}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>

            <div class="movie-list-container">
                <br>
                <br>
                <h1 class="movie-list-title">Top Rated</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        {% for movie in top_rated %}
                        <a href="#" style="text-decoration:none; color:white">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img"
                                    src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
                                <span class="movie-list-item-title">{{movie.title}}</span>
                                <p class="movie-list-item-desc">{{movie.overview[:240]}}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>

            <div class="movie-list-container">
                <br>
                <br>
                <h1 class="movie-list-title">Popular</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        {% for movie in popular_movies %}
                        <a href="#" style="text-decoration:none; color:white">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img"
                                    src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
                                <span class="movie-list-item-title">{{movie.title}}</span>
                                <p class="movie-list-item-desc">{{movie.overview[:240]}}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script src="/static/home.js"></script>
</body>

</html>