{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <div class="container d-flex justify-content-center align-items-center mb-5 vh-100">
      <div class="row">
          <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
              <div class="card shadow">
                  <img src="https://cdn.wallpapersafari.com/43/77/U6PNmb.jpg"
                      alt="" class="card-img-top" />
                  <div class="card-body">
                      <h5 class="card-title">Sign Up</h5>
                      <form method="POST">
      <div class="mb-2">
          <label class="form-label" for="email">Email Address</label>
          <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email" required>     
          <div class="valid-feedback">
              Looks-good!
          </div> 
      </div> 
          <div class="mb-2">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" placeholder="Enter Username" required>     
              <div class="valid-feedback">
                  Looks-good!
              </div>
              </div>
              <div class="mb-2">
                  <label class="form-label" for="password1">Password</label>
                  <input class="form-control" type="password" id="password1" name="password1" placeholder="Enter Password" required>     
                  <div class="valid-feedback">
                      Looks-good!
                  </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label" for="password2">Confirm Password</label>
                      <input class="form-control" type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                      <div class="valid-feedback">
                          Looks great!
                      </div>
                  </div>
               <div class="d-grid">     
                <button class="btn btn-success" type="submit">Sign Up</button>         
               </div>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}